<ion-content fullscreen>
  <ion-slides pager>

    <!-- Slide 1 -->
<ion-slide>
  <ion-icon name="help"></ion-icon>
  <h3>Welcome To Your <br> Journey Diary!</h3>

  <p class="ion-padding">
    <strong>Slide To Go Next</strong><ion-icon name="chevron-forward-circle-outline"></ion-icon>
  </p>
</ion-slide>

<!-- Slide 2 -->
<ion-slide>
  <ion-icon name="airplane-outline"></ion-icon>
  <h3>Are you ready to <br> prepare your <br> journey?</h3>

  <p class="ion-padding">
    <strong>Slide To Go Next</strong><ion-icon name="chevron-forward-circle-outline"></ion-icon>
  </p>
</ion-slide>

<!-- Slide 3 -->
<ion-slide>
  <ion-icon name="checkmark-circle-outline"></ion-icon>
  <h3>Start Your Journey Now!</h3>

  <ion-button fill="clear" routerLink="/tabs/home">
    Start here
    <ion-icon name="arrow-forward-outline" slot="end"></ion-icon>
  </ion-button>
</ion-slide>

  </ion-slides>
</ion-content>