<ion-content fullscreen>
  <ion-slides pager>

<!-- Slide 1 -->
<ion-slide>
  <ion-icon name="happy-outline"></ion-icon>
  <h3>Welcome To Your <br> Malta Info Guide App!</h3>

  <ion-button fill="clear">
    Slide To Go Next
    <ion-icon name="arrow-forward-outline" slot="end"></ion-icon>
  </ion-button>
</ion-slide>

<!-- Slide 2 -->
<ion-slide>
  <ion-icon name="airplane-outline"></ion-icon>
  <h3>Are you ready to <br> prepare your <br> journey?</h3>

  <ion-button fill="clear">
    Slide To Go Next
    <ion-icon name="arrow-forward-outline" slot="end"></ion-icon>
  </ion-button>
</ion-slide>

<!-- Slide 3 -->
<ion-slide>
  <ion-icon name="checkmark-circle-outline"></ion-icon>
  <h3>Start Your Journey Now!</h3>

  <ion-button fill="clear" routerLink="/tabs/home">
    Start here
    <ion-icon name="arrow-forward-outline" slot="end"></ion-icon>
  </ion-button>
</ion-slide>

  </ion-slides>
</ion-content>