<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-button color="dark">
        <ion-icon class="headericons" name="search-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Malta Info Guide</ion-title>

    <ion-buttons slot="end" (click)="openGallery()"> 
      <ion-button color="dark"><ion-icon  class="headericons" name="albums-outline"></ion-icon></ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <h3>Start by creating your new journey and experience new things!</h3>
  <div class="container">
    <ion-icon color="medium" class="arrow" name="arrow-down-outline"></ion-icon>
    <ion-button color="medium" class="journalbutton" (click)="openJournal()">
      <ion-icon class="circleplus" name="add-circle-outline"></ion-icon>
    </ion-button>
  </div>  
</ion-content>