.container {
    height: auto;
    margin: 0;
    text-align: center;
}

.journalbutton {
    height: 220px;
    width: 220px;
}

.arrow {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    height: 80px;
    width: 70px;
}

.circleplus {
    height: 170px;
    width: 70px;
}

h3 {
    text-align: center;
}

.headericons {
    font-size: 1.5rem;
}




