<ion-header>
  <ion-toolbar>
    <ion-title>Malta Info Guide</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <div id="user-header" class="ion-padding">
  <h3>Account Login</h3>
  </div>
  <ion-list>
    <!-- Email -->
    <ion-item>
      <ion-label position="floating">
        Email
        <ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input clearInput></ion-input>
    </ion-item>

    <!-- Email -->
    <ion-item>
      <ion-label position="floating">
        Password
        <ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input clearInput></ion-input>
    </ion-item>
    <ion-button>Login</ion-button>
    <ion-text routerLink="/tabs/createaccount">Click here to create an account</ion-text>
  </ion-list>
  

</ion-content>