<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/home"></ion-back-button>
    </ion-buttons>

    <ion-title>Create Journal</ion-title>

    <ion-buttons slot="end" routerLink="/gallery">
      <ion-button color="dark"><ion-icon class="headericons" name="albums-outline"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button class="category" expand="full" color="medium" routerLink="/tabs/maltaislandpage">Malta Island</ion-button>
  <ion-button class="category" expand="full" color="medium" routerLink="/tabs/mdinamaltapage">Gozo Island</ion-button>
  <ion-button class="category" expand="full" color="medium" routerLink="/tabs/mdinamaltapage">Valletta Malta</ion-button>
  <ion-button class="category" expand="full" color="medium" routerLink="/tabs/mdinamaltapage">Mdina Malta</ion-button>
</ion-content>