<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/categories"></ion-back-button>
    </ion-buttons>

    <ion-title>Saved</ion-title>

    <ion-buttons slot="end" routerLink="/gallery">
      <ion-button color="dark"><ion-icon class="headericons" name="albums-outline"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding ion-text-center" *ngIf="information.length == 0">
    <p>You don't have any saved items.</p>
    <ion-button fill="clear" expand="full" routerLink="/tabs/journaldiary" routerDirection="root">Create A Journal</ion-button>
  </div>
  <!--<ion-list *ngIf="information.length > 0">
    <ion-button expand="full" [routerLink]="['/journaldiary', i]" *ngFor="let item of information; let i = index">
      <ion-item>
        
      </ion-item>
    </ion-button>
  </ion-list>-->

  <ion-button color="medium" expand="full"><span class="ion-text-left">Register</span></ion-button>
</ion-content>
