<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/categories"></ion-back-button>
    </ion-buttons>

    <ion-title>Saved</ion-title>

    <ion-buttons slot="end" routerLink="/gallery">
      <ion-button color="dark"><ion-icon class="headericons" name="albums-outline"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <h3>All Your Current Journals</h3>
  </div>
  <ion-button color="medium" expand="full"><span class="ion-text-left">Register</span></ion-button>
</ion-content>
