<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/categories"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ information.headerTitle }}</ion-title>
    <ion-buttons slot="end" (click)="openGallery()"> 
      <ion-button color="dark"><ion-icon  class="headericons" name="camera"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-fab vertical="center" horizontal="center">
    <ion-fab-button class="fabButton">
      {{WeatherData.temp_celcius}}°
    </ion-fab-button>
    <ion-fab-list side="bottom">
      <ion-fab-button href="https://openweathermap.org/city/2562305"><ion-icon name="sunny-outline"></ion-icon></ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-header>



<ion-content *ngIf="information">
  <ion-img src="{{ information.photo }}"></ion-img>
  <h2>{{ information.pageTitle }}</h2>
  <h5>{{ information.subTitle }}</h5>
  <hr>
  <ion-row>
    <ion-icon class="icons" [name]="isSaved ? 'heart' : 'heart-outline'" (click)="save(information.id)"></ion-icon>
    <a href="{{ information.externalLink }}"><ion-icon class="icons" name="globe"></ion-icon></a>
    <ion-icon class="icons" name="share-social"></ion-icon>
  </ion-row>
  <hr>
  <ion-text>
    <p *ngFor="let p of information.text">{{ p }}</p>
  </ion-text>
  <hr>
  <h3>Nearby Locations You Can Visit</h3>
  <ion-list lines="full">
    <ion-item detail="true" detailIcon="chevron-forward" [routerLink]="['/tabs/mdinamaltapage', item.id]" *ngFor="let item of informationlink">
      <ion-label>{{ item.pageTitle }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
