<ion-header>
  <ion-toolbar>
    <ion-title><ion-icon name="arrow-back"></ion-icon> mdinamaltapage</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>
  <h3>Mdina (L-Imdina Città Vecchia)</h3>
  <ion-icon name="heart"></ion-icon>
  <ion-icon name="globe"></ion-icon>
  <ion-icon name="share-social"></ion-icon>
  <ion-text>
    <p>Mdina in Malta is an ancient, unique, fortified city of incredible historical value. Built on a hill overlooking the rest of the island from the north and east to west.</p>
    <p>So beautiful and historic, the city filled with Medieval, Norman and baroque architecture. Several palaces, churches, cathedral, monasteries and high fortification walls that stretch all round visible from many parts of the island.</p>
    <p>Throughout the ages it has been maintained.  It was shaken by Sicily’s earthquake of 1693 which left many buildings damaged.</p>
    <p>It is an enchanting old capital that has kept its character with a tiny population of around 240 people.</p>
    <p>During the day it is a major tourist attraction. There is no other place like it on the island. At night it is quiet with a unique character also pleasant to visit lit by lanterns, quiet alleys, people walking the main road to the rear fortifications for the incredible view.</p>
  </ion-text>

  <ion-grid>
    <ion-row>
      <ion-text>
        <p>Nearby Locations You Can Visit <ion-icon name="arrow-forward"></ion-icon></p>
        <p>Rabat Malta <ion-icon name="arrow-forward"></ion-icon></p>
        <p>Roman Villa <ion-icon name="arrow-forward"></ion-icon></p>
        <p>St. Agatha's Catacombs <ion-icon name="arrow-forward"></ion-icon></p>
      </ion-text>
    </ion-row>
  </ion-grid>
</ion-content>
