<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/categories"></ion-back-button>
    </ion-buttons>
    <ion-title>Valletta Malta</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="bookmark" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img src="assets/valletta-malta.jpg"></ion-img>
  <h2>La Valetta Malta</h2>
  <h5>A City Over 450 Years</h5>
  <hr>
  <ion-row class="icons">
    <ion-icon (click)="quit()" name="heart"></ion-icon>
    <a href="https://www.maltainfoguide.com/malta-valletta.html"><ion-icon name="globe"></ion-icon></a>
    <ion-icon name="share-social"></ion-icon>
  </ion-row>
<hr>
<div class="ion-padding">
  <ion-text>
    <p>Many foreigners call it 'Valletta Malta'. It is Malta's capital city 'the smallest city' from all European cities.</p>
    <p>Popular museums very much visited by tourists at the capital. Go back many many years where it shows how ancient people lived in Malta with their incredible culture which we can now admire. </p>
    <p>Malta's best shopping streets running straight from the main Valetta gate down to fort St. Elmo cutting Valletta in half. This is Republic Street. Merchants Street is parallel to it with plenty of shops to visit.</p>
    <p>We suggest you come over to enjoy the squares in Valletta. With it's squared grid design squares were planned for the public to enjoy open spaces. This fabric is still the same since the knights of St. John. </p>
  </ion-text>
</div>
<hr>
  <h3>Nearby Locations You Can Visit</h3>
    <ion-button fill="clear" routerLink="/tabs/gozoislandpage">Gozo Island<ion-icon class="linkarrow" name="arrow-forward"></ion-icon></ion-button>
    <ion-button fill="clear" routerLink="/tabs/maltaislandpage">Malta Island<ion-icon class="linkarrow" name="arrow-forward"></ion-icon></ion-button>
    <ion-button fill="clear" routerLink="/tabs/mdinamaltapage">Mdina Malta<ion-icon class="linkarrow" name="arrow-forward"></ion-icon></ion-button>
</ion-content>
