<ion-header>
  <ion-toolbar>
    <ion-title>Create Your Journal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Enter Title...</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-input placeholder="Start Writing here...."></ion-input>
  </ion-item>
  <ion-item>
    <ion-row>
      <ion-col>
        <ion-icon name="image-outline"></ion-icon>
      </ion-col>
      <ion-col>
        <ion-icon name="image-outline"></ion-icon>
      </ion-col>
      <ion-col>
        <ion-icon name="image-outline"></ion-icon>
      </ion-col>
      <ion-col>
        <ion-icon name="add-circle-outline"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-item>
  <ion-item>
    <ion-row>
      <ion-col>
        <ion-button color="primary" expand="block">Save Progress</ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="primary" expand="block">Complete Day</ion-button>
      </ion-col>
    </ion-row>
  </ion-item>
</ion-content>
