.photo {
    font-size: 3.5rem;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 2px;
    margin-right: 2px;
}

ion-row {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}