<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/journals"></ion-back-button>
    </ion-buttons>

    <ion-title>Create Your Journal</ion-title>

    <ion-buttons slot="end" routerLink="/gallery">
      <ion-button color="dark"><ion-icon class="headericons" name="albums-outline"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <!-- Enter Title -->
  <ion-item>
    <ion-label position="floating">Enter Title...</ion-label>
    <ion-input clearInput [(ngModel)]="journeyTitle" (ionChange)="onChange('journeyTitle', $event)"></ion-input>
  </ion-item>

  <!-- Enter Description -->
  <ion-item>
    <ion-label position="floating">Your Journey Description</ion-label>
    <ion-input clearInput  placeholder="Start Writing here...." [(ngModel)]="journeyDescr" (ionChange)="onChange('journeyDescr', $event)"></ion-input>
  </ion-item>
  <!-- Enter Images -->
  <ion-row class="ion-padding">
    <ion-avatar (click)="openGallery()">
      <img src="{{ journeyImg1 || 'assets/image.png' }}" alt="">
    </ion-avatar>
    <ion-avatar (click)="openGallery2()">
      <img src="{{ journeyImg2 || 'assets/image.png' }}" alt="">
    </ion-avatar>
    <ion-avatar (click)="openGallery3()">
      <img src="{{ journeyImg3 || 'assets/image.png' }}" alt="">
    </ion-avatar>
  </ion-row>

  <ion-button expand="full" routerLink="/tabs/journals">Save Journal</ion-button>
</ion-content>
