<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/categories"></ion-back-button>
    </ion-buttons>
    <ion-title>Gozo Island</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="bookmark" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img src="assets/gozo-island.jpg"></ion-img>
  <h2>The Island Of Gozo</h2>
  <h5>The Island Full Of Peace And Quiet</h5>
  <hr>
  <ion-row class="icons">
    <ion-icon (click)="quit()" name="heart"></ion-icon>
    <a href="https://www.maltainfoguide.com/gozo-island.html"><ion-icon name="globe"></ion-icon></a>
    <ion-icon name="share-social"></ion-icon>
  </ion-row>
<hr>
<div class="ion-padding">
  <ion-text>
    <p>Gozo island, also called 'Ghawdex' in Maltese, is the second largest island of the Maltese archipelago. Despite its close proximity and obvious links with Malta, the island bears many dissimilarities, making it rather unique.</p>
    <p>Gozo is fondly referred to as ‘the island where time stood still’ as one can still witness many habits and traditions from centuries ago which are still practiced by the locals to this very day.</p>
    <p>The island is less densely populated, life is simpler, it is greener and less industrialized than Malta and has infrastructure. All this has helped Gozo to retain its natural beauty. It is worth a visit for at least a day during your holiday in Malta.</p>
  </ion-text>
</div>
<hr>
<h3>Nearby Locations You Can Visit</h3>
<ion-button fill="clear" routerLink="/tabs/vallettamaltapage">Valletta Malta<ion-icon class="linkarrow" name="arrow-forward"></ion-icon></ion-button>
<ion-button fill="clear" routerLink="/tabs/maltaislandpage">Malta Island<ion-icon class="linkarrow" name="arrow-forward"></ion-icon></ion-button>
<ion-button fill="clear" routerLink="/tabs/mdinamaltapage">Mdina Malta<ion-icon class="linkarrow" name="arrow-forward"></ion-icon></ion-button>
</ion-content>
