<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/home"></ion-back-button>
    </ion-buttons>

    <ion-title>Journals</ion-title>

  </ion-toolbar>
</ion-header>


<ion-content>

  <div class="ion-padding ion-text-center" *ngIf="journey.length == 0">
    <p>You don't have a recorded journals.</p>
    <ion-button fill="clear" expand="full" routerLink="/tabs/journaldiary" routerDirection="root">Create A Journal</ion-button>
  </div>
  <ion-list *ngIf="journey.length > 0">
    <ion-grid>
        <ion-row *ngFor="let item of journey; let i = index">
          <ion-button color="medium" class="nameButton" [routerLink]="['/journaldiary', i]" >
          <!--<ion-button color="medium" class="nameButton" (click)="openJournal(i)" >-->
            {{ item.title }}
          </ion-button>
          <ion-button color="danger" (click)="deleteButton(i)"><ion-icon name="trash"></ion-icon></ion-button>
          </ion-row>
        </ion-grid>

  </ion-list>
</ion-content>
