<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon routerLink="/tabs/categories" name="arrow-back" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Journals</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="ion-padding ion-text-center">
    <p>You don't have any recorded journals.</p>
    <ion-button fill="clear" expand="full" routerLink="/tabs/journaldiary" routerDirection="root">Create a Journal now!</ion-button>
  </div>
</ion-content>
